USE [TradeMSEDDetails_UAT]
GO
/****** Object:  View [dbo].[V_TP_MergedColumns_step3]    Script Date: 27-05-2026 09:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[V_TP_MergedColumns_step3]
AS
SELECT [Invoice_Key]
      ,[Document_Number]
      ,[Invoice_Reference]
      ,[Document_Header]
      ,[Document_Type]
      ,[Company_Code]
      ,[Assignment]
      ,[Invoice_Description]
      ,[Amount_Local]
      ,[Document_Currency]
      ,[Amount_Doc]
      ,[GL_Account]
      ,[GL_Description]
      ,[Profit_Center]
      ,[Document_Date]
      ,[Posting_Date]
      ,[Payment_Date]
      ,[Report_Date]
      ,[User_Name]
      ,[SOURCE]
      ,[Edited]
      ,[RunId]
      ,[StepIndex]
      ,[Processed]
      ,[RevisionNumber]
      ,[QuarterEndDate]
      ,NULLIF(TRIM([Merged_PO]), '') AS Purchasing_Document
      ,NULLIF(TRIM([Merged_Vendor]), '') AS Vendor
      ,[Merged_Vendor_Description] AS Vendor_Description
      ,NULLIF(TRIM([Merged_CP]), '') AS Credit_Period
      ,NULLIF(TRIM([Merged_IndustryType]), '') AS Industry
FROM [TradeMSEDDetails_UAT].[dbo].[V_TP_VendorCPIndustryMatching_step2];
GO
