USE [TradeMSEDDetails_UAT]
GO
/****** Object:  View [dbo].[V_TP_PoVendorMatching_step1]    Script Date: 27-05-2026 09:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TP_PoVendorMatching_step1]
AS

WITH PO_Vendor_Data AS (
    SELECT *
    FROM OPENQUERY([SQLAPP.ENCNET.COM], '
        SELECT 
        ebeln, 
        MAX(lifnr) as lifnr, 
        MAX(name1) as vendor_name 
        FROM Lnt_PO_Data.dbo.podata
        GROUP BY ebeln
    ')
),
Vendor_Only_Data AS (
    SELECT *
    FROM OPENQUERY([SQLAPP.ENCNET.COM], '
        SELECT 
        lifnr, 
        MAX(name1) as vendor_name 
        FROM Lnt_PO_Data.dbo.podata
        GROUP BY lifnr
    ')
),
Name_Only_Data AS (
    SELECT 
        vendor_name,
        MAX(lifnr) AS lifnr
    FROM Vendor_Only_Data
    GROUP BY vendor_name
)
SELECT  
    pop_data.[Invoice_Key]
   ,pop_data.[Document_Number]
   ,pop_data.[Purchasing_Document]
   ,pop_data.[Invoice_Reference]
   ,pop_data.[Document_Header]
   ,pop_data.[Document_Type]
   ,pop_data.[Company_Code]
   ,pop_data.[Assignment]
   ,pop_data.[Vendor]
   ,pop_data.[Vendor_Description]
   ,pop_data.[Invoice_Description]
   ,pop_data.[Industry]
   ,pop_data.[Amount_Local]
   ,pop_data.[Document_Currency]
   ,pop_data.[Amount_Doc]
   ,pop_data.[GL_Account]
   ,pop_data.[GL_Description]
   ,pop_data.[Profit_Center]
   ,pop_data.[Payment_Terms]
   ,pop_data.[Document_Date]
   ,pop_data.[Posting_Date]
   ,pop_data.[Payment_Date]
   ,pop_data.[Report_Date]
   ,pop_data.[User_Name]
   ,pop_data.[SOURCE]
   ,pop_data.[Edited]
   ,pop_data.[RunId]
   ,pop_data.[StepIndex]
   ,pop_data.[Processed]
   ,pop_data.[RevisionNumber]
   ,pop_data.[QuarterEndDate]
   ,po_vendor.[ebeln] as Matched_PO
   ,COALESCE(po_vendor.[lifnr], v_only.[lifnr], n_only.[lifnr]) 
        as Matched_Vendor
   ,COALESCE(po_vendor.[vendor_name], v_only.[vendor_name], n_only.[vendor_name]) 
        as Matched_vendor_Description
   ,COALESCE(po_vendor.[ebeln], NULLIF(pop_data.[Purchasing_Document], 'Not Found')) 
        as Merged_PO
   ,COALESCE(po_vendor.[lifnr], v_only.[lifnr], n_only.[lifnr], NULLIF(pop_data.[Vendor], 'Not Found')) 
        as Merged_Vendor
   ,COALESCE( n_only.[vendor_name],v_only.[vendor_name], po_vendor.[vendor_name], NULLIF(pop_data.[Vendor_Description], 'Not Found')) 
        as Merged_Vendor_Description
FROM [TradeMSEDDetails_UAT].[dbo].[TP_Step_01] as pop_data
LEFT JOIN PO_Vendor_Data as po_vendor 
    ON pop_data.[Purchasing_Document] <> 'Not Found'
    AND pop_data.[Purchasing_Document] = po_vendor.[ebeln]
LEFT JOIN Vendor_Only_Data as v_only 
    ON po_vendor.[ebeln] IS NULL 
    AND pop_data.[Vendor] <> 'Not Found'
    AND pop_data.[Vendor] = v_only.[lifnr]
LEFT JOIN Name_Only_Data as n_only
    ON po_vendor.[ebeln] IS NULL 
    AND v_only.[lifnr] IS NULL
    AND pop_data.[Vendor] = 'Not Found'
    AND pop_data.[Purchasing_Document] = 'Not Found'
    AND pop_data.[Vendor_Description] IS NOT NULL AND pop_data.[Vendor_Description] <> 'Not Found'
    AND pop_data.[Vendor_Description] like '%'+ n_only.[vendor_name] +'%'
GO
