USE [TradeMSEDDetails_UAT]
GO
/****** Object:  View [dbo].[V_TP_VendorCPIndustryMatching_step2]    Script Date: 27-05-2026 09:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_TP_VendorCPIndustryMatching_step2]
AS
WITH Vendor_Records AS (
SELECT
pkc_vendor_code, pkc_company_code, 
c_vendor_name, ZTERM, industry_type
FROM            
OPENQUERY([SQLAPP.ENCNET.COM], 
       'SELECT 
        pkc_vendor_code,
        pkc_company_code,
        c_vendor_name, 
        ZTERM, 
        industry_type 
        FROM Lnt_PO_Data.dbo.m_Vendor'))

SELECT [Invoice_Key]
      ,[Document_Number]
      ,[Purchasing_Document]
      ,[Invoice_Reference]
      ,[Document_Header]
      ,[Document_Type]
      ,[Company_Code]
      ,[Assignment]
      ,[Vendor]
      ,[Vendor_Description]
      ,[Invoice_Description]
      ,[Industry]
      ,[Amount_Local]
      ,[Document_Currency]
      ,[Amount_Doc]
      ,[GL_Account]
      ,[GL_Description]
      ,[Profit_Center]
      ,[Payment_Terms]
      ,[Document_Date]
      ,[Posting_Date]
      ,[Payment_Date]
      ,[Report_Date]
      ,[User_Name]
      ,[SOURCE]
      ,[Edited]
      ,[RunId]
      ,[StepIndex]
      ,[Processed]
      ,[RevisionNumber]
      ,[QuarterEndDate]
      ,[Matched_PO]
      ,[Matched_Vendor]
      ,[Matched_vendor_Description]
      ,[Merged_PO]
      ,[Merged_Vendor]
      ,[Merged_Vendor_Description]
      ,vr.[ZTERM] 
      ,vr.[industry_type]
      ,COALESCE(CAST(TRY_CAST(pvm.[Payment_Terms] AS INT) % 100 AS VARCHAR(10)), CAST(TRY_CAST(vr.[ZTERM] AS INT) % 100 AS VARCHAR(10))) AS [Merged_CP]
      ,COALESCE(pvm.[Industry], vr.[industry_type]) AS [Merged_IndustryType]

  FROM [TradeMSEDDetails_UAT].[dbo].[V_TP_PoVendorMatching_step1] pvm
  LEFT JOIN Vendor_Records vr on 
        pvm.[Merged_Vendor] = vr.[pkc_vendor_code]
  AND   pvm.[Company_Code]  = vr.[pkc_company_code]

GO
