USE [TradeMSEDDetails_UAT]
GO
/****** Object:  View [dbo].[V_TP_MergedColumnsWithICP]    Script Date: 27-05-2026 09:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE   VIEW [dbo].[V_TP_MergedColumnsWithICP] 
AS
SELECT  [Invoice_Key]
      ,[Document_Number]
      ,[Invoice_Reference]
      ,[Document_Header]
      ,[Document_Type]
      ,[Company_Code]
      ,[Assignment]
      ,[Invoice_Description]
      ,[Amount_Local]
      ,[Document_Currency]
      ,[Amount_Doc]
      ,[GL_Account]
      ,[GL_Description]
      ,[Profit_Center]
      ,[Document_Date]
      ,[Posting_Date]
      ,[Payment_Date]
      ,[Report_Date]
      ,[User_Name]
      ,[SOURCE]
      ,[Edited]
      ,[RunId]
      ,[StepIndex]
      ,[Processed]
      ,[RevisionNumber]
      ,[QuarterEndDate]
      ,[Purchasing_Document]
      ,[Vendor]
      ,[Vendor_Description]
      ,[Credit_Period]
      ,[Industry]
      ,CASE WHEN [Company_Code] ='1000' THEN 'Corporate' Else 'Offshore' end as Vertical
      ,icp_vendor_map.[Vendor_Code]
      ,icp_vendor_map.[Vendor_Name]
      ,icp_vendor_map.[ICP_Name]
      ,icp_vendor_map.[Entity_Type]
      ,icp_vendor_map.[Entity_Relation]
      ,CASE WHEN icp_vendor_map.[ICP_Name] IS NOT NULL THEN 1 ELSE 0 END as IsSNACompany
      --,CONCAT([Purchasing_Document],'_',[Vendor],'_',[Company_Code],'_',[GL_Account],'_',[Document_Number],'_',[Report_Date],'_',[ICP_Name]) as Composite_Join_Key
  FROM [TradeMSEDDetails_UAT].[dbo].[V_TP_MergedColumns_step3] as merged_table
  
  -- If the GL Account is '14710', we fail the join.
  -- This preserves the row from 'merged_table' but leaves all 'icp_vendor_map' columns as NULL.
  LEFT JOIN [TradeMSEDDetails_UAT].[dbo].[TP_MASTER_ICPVendorMap] as icp_vendor_map
  ON  merged_table.[Vendor] = icp_vendor_map.Vendor_Code
  AND merged_table.[GL_Account] <> '14710'

GO
